#/bin/bash

taskset -c {{ item.value.cpuList }} /opt/squad/{{ item.key }}/SquadGameServer.sh Port={{ item.value.gamePort }} QueryPort={{ item.value.queryPort }} beaconport={{ item.value.beaconPort }} RCONPORT={{ item.value.rconPort }} RCONPASSWORD={{ rconPassword }} -useperfthreads
